{% extends 'base.html' %}

{% block title %}
    Sticky Notes -
    {% if form.instance.pk %}
        Edit
    {% else %}
        Create
    {% endif %}
    Note
{% endblock title %}

{% block content %}
    <section class="form-wrapper">
        <h2>
            {% if form.instance.pk %}
                Edit
            {% else %}
                Create
            {% endif %}
            Note
        </h2>
        <form method="post"
              action="{% if form.instance.pk %}{% url 'note_update' pk=form.instance.pk %}{% else %}{% url 'note_create' %}{% endif %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <p><a class="button-link" href="{% url 'note_list' %}">Back to notes</a></p>
    </section>
{% endblock content %}
